<% content_for :title, "Showing T-Shirt" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <h1 class="font-bold text-4xl text-center text-indigo-700 Max-font">BEST OF NBA TSHIRT</h1>
  <br>
  <div class="mx-w-7xl mx-auto px-10 mb-2">
    <%= link_to "The Best Products", products_path, class: "text-xl text-gray-100 hover:text-gray-200" %>
    <%= link_to "> #{@product.category.name}", @product.category, class: "text-xl text-gray-100" if @product.category %>
    <%= link_to "> #{@product.name}", @product, class: "text-xl text-gray-100" %>
  </div>
  <div class="grid md:grid-cols-2">
    <div class="max-w-md w-full mx-auto">
      <% if @product.images.any? %>
        <%= image_tag @product.images.first, class:"w-80 h-80 object-cover" %>
        <div class="grid grid-cols-3 gap-4 mt-4">
          <% @product.images[1..].each do |image| %>
            <%= image_tag image, class: "w-full h-32 object-cover" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="max-w-xl flex flex-col gap-4">
      <h1 class="text-5xl Old-font text-indigo-900"> <%= @product.name %> </h1>
      <div class="text-gray-700">
        <%= @product.description %>
      </div>
      <span class="bg-green-500 p-2 rounded-lg text-green-300 mr-auto"> <%= number_to_currency @product.price %> </span>
      <div class="flex justify-between gap-8">
        <%= link_to "Buy Now", product_buy_now_path(@product), class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 mr-auto hover:bg-yellow-500 w-full" %>
        <%= render "add_to_cart", product: @product %>
      </div>    
    </div>
  </div>
  <% if current_admin %>
    <div class="w-full flex justify-center items-center mt-16 gap-6">
      <%= link_to "Edit this product", edit_product_path(@product), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "Back to products", products_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <div class="sm:inline-block mt-2 sm:mt-0 sm:ml-2">
        <%= button_to "Destroy this product", @product, method: :delete, class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>